
.thumbnail {

    .img-responsive  {
        width: 100%;
    }

    .caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 10px 0 5px;
    }
}